h1 {
  color: #80b3ff
 
}
h2 {
	color:  #80b3ff

	}	
p{

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
	background-color: white;

}

body  {

  width: 100%;
  height: 100%;
  background-image: url('tigergif.gif');
  background-attachment: fixed;
  background-size: 100%;
  filter:alpha(opacity=100%);
}


div.transbox {
	  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.75;
  filter: alpha(opacity=60); /* For IE8 and earlier */

}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}



