h1 {
  color: #80b3ff
 
}
h2 {
	color:  #80b3ff

	}	
p{

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
	background-color: white;
	background-color-opacity: 0.5

}

body  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('tigergif.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.8;
  filter:alpha(opacity=100%);
}


li a:hover {
    background-color: #4b496d;
}

div.transbox {
	  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */

}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}



